@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #fff;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: #fff;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: #333;
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
    margin-left: 36%;
    margin-top: 1%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1.1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: #fff;
    display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 2em;
    margin-top: 0.5em;
}

.campo input[type ="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #fff;
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.botao{
    font-size: 1.2em;
    background: #fff;
    border: 0;
    margin-bottom: 1em;
    color: #000;
    padding:  0.2em 0.6em;
    box-shadow: 2px 2px 2px 2px #fff;
    text-shadow: 1px 1px 1px #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%, -50%);
}
.botao:hover{
    background: #333;
    box-shadow: 2px 2px 2px 2px #fff;
    text-shadow: none;
    color: white;
    
button{
    font-size: 1.2em;
    background: #fff;
    border: 0;
    margin-bottom: 1em;
    color: #000;
    padding:  0.2em 0.6em;
    box-shadow: 2px 2px 2px 2px #fff;
    text-shadow: 1px 1px 1px #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%, -50%);
}

.button:hover{
    background: #333;
    box-shadow: 2px 2px 2px 2px #fff;
    text-shadow: none;
    color: white;
}
#check{
    display: inline-block;
}